.u-section-1 {
	background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
	min-height: 639px;
  }
  
  .u-section-1 .u-text-1 {
	line-height: 1.6;
	font-weight: 700;
	font-size: 1.25rem;
	width: 771px;
	margin: 62px auto 0;
  }
  
  .u-section-1 .u-layout-wrap-1 {
	width: 700px;
	margin: 36px auto 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
	min-height: 258px;
	background-image: none;
  }
  
  .u-section-1 .u-container-layout-1 {
	padding: 30px;
  }
  
  .u-section-1 .u-image-1 {
	width: 195px;
	height: 195px;
	background-image: url("images/MicrosoftTeams-image (5).png");
	background-position: 50% 50%;
	margin: 3px 0 0 auto;
  }
  
  .u-section-1 .u-layout-cell-2 {
	min-height: 257px;
	background-image: none;
  }
  
  .u-section-1 .u-container-layout-2 {
	padding: 30px;
  }
  
  .u-section-1 .u-text-2 {
	font-weight: 700;
	font-size: 1.5rem;
	margin: 22px auto 0;
  }
  
  .u-section-1 .u-text-3 {
	margin: 20px auto 0;
  }
  
  .u-section-1 .u-social-icons-1 {
	height: 48px;
	min-height: 16px;
	width: 180px;
	min-width: 84px;
	margin: 30px auto 0;
  }
  
  .u-section-1 .u-icon-1 {
	height: 100%;
  }
  
  .u-section-1 .u-icon-2 {
	height: 100%;
  }
  
  .u-section-1 .u-icon-3 {
	height: 100%;
  }
  
  .u-section-1 .u-text-4 {
	line-height: 2;
	font-size: 1.125rem;
	width: 844px;
	margin: 22px auto 60px;
  }
  
  @media (max-width: 1199px) {
	.u-section-1 .u-image-1 {
	  background-position: 19.54% 50%;
	}
  }
  
  @media (max-width: 991px) {
	.u-section-1 .u-sheet-1 {
	  min-height: 649px;
	}
  
	.u-section-1 .u-text-1 {
	  width: 720px;
	}
  
	.u-section-1 .u-layout-cell-2 {
	  min-height: 100px;
	}
  
	.u-section-1 .u-text-4 {
	  width: 720px;
	}
  }
  
  @media (max-width: 767px) {
	.u-section-1 .u-sheet-1 {
	  min-height: 889px;
	}
  
	.u-section-1 .u-text-1 {
	  width: 540px;
	}
  
	.u-section-1 .u-layout-wrap-1 {
	  width: 540px;
	}
  
	.u-section-1 .u-layout-cell-1 {
	  min-height: 262px;
	}
  
	.u-section-1 .u-container-layout-1 {
	  padding: 17px 10px;
	}
  
	.u-section-1 .u-image-1 {
	  margin-top: 0;
	  margin-right: auto;
	}
  
	.u-section-1 .u-container-layout-2 {
	  padding-left: 10px;
	  padding-right: 10px;
	}
  
	.u-section-1 .u-text-4 {
	  width: 540px;
	}
  }
  
  @media (max-width: 575px) {
	.u-section-1 .u-sheet-1 {
	  min-height: 742px;
	}
  
	.u-section-1 .u-text-1 {
	  width: 340px;
	}
  
	.u-section-1 .u-layout-wrap-1 {
	  width: 340px;
	}
  
	.u-section-1 .u-layout-cell-1 {
	  min-height: 258px;
	}
  
	.u-section-1 .u-container-layout-1 {
	  padding-top: 21px;
	  padding-bottom: 21px;
	}
  
	.u-section-1 .u-text-4 {
	  width: 340px;
	}
  }
